build/
install/
log/
*.db3
.vscode/*
rosbag2_1/*
my_rivz.rviz
src/lidar_image_projection/src/lidar_image_projection_node.cpp
rosbag2_2/*
rosbag2_3/*
model/*
src/centerpoint/model/*
src/centerpoint/model/rpn_centerhead_sim.8503.log
rosbag2_front/*
rosbag2_rear/*
rosbag2_po_rear/metadata.yaml
rosbag2_po_front/metadata.yaml
src/centerpoint/scripts/__pycache__/*
