build/
install/
log/
*.db3
# .vscode/*
rosbag2_1/*
my_rivz.rviz
src/lidar_image_projection/src/lidar_image_projection_node.cpp
rosbag2_2/*
rosbag2_3/*
model/*
src/centerpoint/model/*
src/centerpoint/model/rpn_centerhead_sim.8503.log
rosbag2_front/*
rosbag2_rear/*
rosbag2_po_rear/metadata.yaml
rosbag2_po_front/metadata.yaml
src/centerpoint/scripts/__pycache__/*
rosbag2_stone_front/metadata.yaml
rosbag2_stone_rear/metadata.yaml
rosbag2_po_new_front/metadata.yaml
rosbag2_po_new_rear/metadata.yaml
.vscode/browse*
src/lidar_leveling/launch/__pycache__/*
rosbag2_obstacle_front/metadata.yaml
rosbag2_obstacle_rear/metadata.yaml
.vscode/browse.vc.db-wal
realdata_person/metadata.yaml
hello.log
src/range_image_segmentation/launch/__pycache__/range_image_segmentation.launch.cpython-310.pyc
src/perception_common/launch/__pycache__/perception_bringup.launch.cpython-310.pyc
